@import '_content/FirstClassLibrary/FirstClassLibrary.zje0r2bral.bundle.scp.css';

/* _content/RazorClassLearning/Component1.razor.rz.scp.css */
.my-component[b-hh25w8gspd] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
